<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Queen Elizabeth II</title>
  </head>
  <body>
    <p>
      In February 1952, Elizabeth became queen at just 25, after her father died
      of cancer. Three million people lined the route from Westminster Abbey
      back to Buckingham Palace after her coronation ceremony in June 1953.
    </p>
    <p>
      Queen Elizabeth II set the record as the longest-serving British monarch
      on Wednesday, when around 5:30 p.m. British time she had ruled 23,226
      days, 16 hours and approximately 30 minutes, according to the BBC. Here is
      a look back at some important moments in her life.
    </p>
    <p>
      Elizabeth Windsor, the daughter of King George VI, was not born a direct
      heir to the crown. The line of succession changed when her uncle, King
      Edward VIII, abdicated the throne in 1936.
    </p>
    <p>
      In 1944, at age 18, Princess Elizabeth was appointed a counselor of state
      during the king's absence on a tour of the Italian battlefields, and for
      the first time she carried out some of the duties of head of state.
    </p>
    <a href="/home">Back to Home</a>
    <a href="/about">Learn more about Queen Elizabeth II</a>
  </body>
</html>
